body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #dice-box {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-image: url(../assets/woodgrain2.jpg);
    background-size: cover;
  }
  
  #dice-box canvas {
    width: 100%;
    height: 100%;
  }

  .dice-roller-card {
    background: linear-gradient(45deg, #161616, #282727, #1a1a1a),
      url("data:image/svg+xml,%3Csvg width='84' height='72' viewBox='0 0 84 72' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M84 57h-8V15h8v42zM76 57h-8V15h8v42zM68 57h-8V15h8v42zM60 57h-8V15h8v42zM52 57h-8V15h8v42zM44 57h-8V15h8v42zM36 57h-8V15h8v42zM28 57h-8V15h8v42zM20 57h-8V15h8v42zM12 57H4V15h8v42zM0 57h84v4H0v-4z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E") repeat;
    background-size: 10px 10px;
    background-repeat: repeat;
  }

@media screen and (max-width: 575px) {
  #dice-roller-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #dice-roller-body {
    padding: 0.5rem;
  }  
}
